<h1>Add a Track</h1>

<form action="<%= tracks_url %>" method="post">
  <%= auth_token %>
  <label for="name">Track Name</label><input id ="name"type="text"
                              name="track[name]" value="<%=@track.name%>">
  <br>
  <label for="album">Album Name</label>
  <select id ="album" type="select" name="track[album_id]">
    <% @albums.each do |album|%>
    <option value="<%= album.id  %>" ><%= album.name %></option>
    <% end %>
  </select>
  <br>
  Track Recording Type:
  <input id ="type-r" type="radio" name="track[track_type]" value="Regular">
  <label for="type-r">Regular</label>

  <input id ="type-b" type="radio" name="track[track_type]" value="Bonus">
  <label for="type-b">Bonus</label>
  <br>
  <label for="lyrics">Lyrics</label>
  <textarea id="lyrics" name="track[lyrics]" value="<%= @track.lyrics %>"></textarea>
  <br>
  <input type="Submit" value="Submit">
</form>
