<h3>Comments</h3>
<ul>
  <% commentable.comments.each do |comment| %>
  <li>
    <%= comment.body %><br>
    <%= link_to comment.author.username, user_url(comment.author) %>
  </li>
  <% end %>
</ul>

<h4>Add Comment</h4>
<form action="/comments" method="post">
  <%= auth_token %>

  <label>
    Comment
    <textarea name="comment[body]" rows="8" cols="40"></textarea>
  </label>

  <input type="hidden" name="comment[commentable_id]" value="<%= commentable.id %>">
  <input type="hidden" name="comment[commentable_type]" value="<%= commentable.class %>">

  <input type="submit" value="Submit Comment">
</form>
