<h1> <%=@cat.name%>'s Page </h1>

<table>
  <th> Things that define this cat </th>
  <% @cat.attributes.each do |key, val| %>
  <tr>
    <td> <%= key%> </td>
    <td> <%= val%> </td>
  </tr>
  <% end %>

</table>
<br>

<table>
  Requests for <%=@cat.name%>
  <th>Requester Name</th>
  <th>Start Date</th>
  <th>End Date</th>
  <th>Status</th>
  <% @cat.cat_rental_requests.order(:start_date).each do |request| %>
  <tr>
    <td> <%= request.user.user_name %></td>
    <td> <%= request.start_date%> </td>
    <td> <%= request.end_date%> </td>
    <td> <%= request.status%> </td>
    <td> <%= request.pending? ? (button_to "APPROVE!", approve_cat_rental_request_url(request)) : ""%></td>
    <td> <%= request.pending? ? (button_to "D-NIE!", deny_cat_rental_request_url(request)) : ""%></td>
  </tr>
  <% end %>

</table>

<a href="<%= new_cat_rental_request_url%>"> Rent a Cat!</a>
<br>
<a href="<%= edit_cat_url %>">Edit <%= @cat.name%> </a>
